<style>
    body{
  font-family: Calibri, Helvetica, sans-serif;

}
.container {
    padding: 50px;
  background-color: lightblue;
}

input[type=text], input[type=password],  input[type=email] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}
input[type=text]:focus, input[type=password], input[type=email]:focus {
  background-color: orange;
  outline: none;
}
 div {
            padding: 10px 0;
         }
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}
.registerbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 20%;
  opacity: 0.9;
}
.registerbtn:hover {
  opacity: 1;
}
</style>
{% extends 'base.html' %}
{% load static %}


{% block metadescription %}
   Travel management

{% endblock %}
{% block title %}
    Travel
{% endblock %}
{% block content %}





<div>
<img class="my_image my_image_padding" src="{% static 'images/22.png' %}" alt="our products" style="width:1490px; height:350px">
</div>
<br>
<div class="space">
<form method="post" action="{% url 'travelapp2:register' %}" >

{% csrf_token %}
    <div class="container">
    <center><h1>REGISTRATION FORM</h1></center>
        <hr>

        <label>User name:</label><input type="text" name="username" placeholder="Enter your user name">
        <label>First Name:</label><input type="text" name="firstname" placeholder="Enter your first  name">
        <label>Last name:</label><input type="text" name="lastname" placeholder="Enter your last name">
        <label>Email:</label>
        <input type="email" name="email" placeholder="Enter your email">

      <br>  <label>Password:</label><input type="password" name="password" placeholder="Enter your password">

        <label>Confirmation password:</label><input type="password" name="cpassword" placeholder="Enter your confirmation password">
       <center>  <input type="submit" class="registerbtn" value="submit">
       </input></center>
    </div>
        </form></div>
<div>
{% for message in messages %}
<h3 ALIGN="CENTER">{{message}}</h3>
{% endfor %}
</div>
{% endblock %}

